* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

body {
    background-color: rgb(41, 41, 41);
    color: rgb(0, 56, 121);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 56, 121);
    opacity: 0.8;
    transition: 0.35s;
}
a:hover{
    opacity: 1;
}